# Ignore PyTorch model files
*.pth

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
